
  <div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Rent Appart</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white">Locations</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white">Reservations</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white">Contact</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white">About</a></li>
    </ul>
  </header>
</div>
<div class="containerd-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top text-black bg-dark"></div>
<h2>Appartement à louer</h2>


<div class="album py-5 bg-light">
  <div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm" width="30">
          <img src="assets/appart 1.jpg" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

              </div>
              <small class="text-muted">New add</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/appart 2.jpg" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

              </div>
              <small class="text-muted">Recent Add</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/appart 3.jpg" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

              </div>
              <small class="text-muted">Recent Add</small>
            </div>
          </div>
        </div>
      </div>
<br>
<div class="col">
  <div class="card shadow-sm">
    <img src="assets/appart 4.jpg" alt="">
    <div class="card-body">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

        </div>
        <small class="text-muted">High demand</small>
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card shadow-sm">
    <img src="assets/appart 5.jpg" alt="">
    <div class="card-body">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

        </div>
        <small class="text-muted">High demand</small>
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card shadow-sm">
    <img src="assets/appart 6.jpg" alt="">
    <div class="card-body">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

        </div>
        <small class="text-muted">High demand</small>
      </div>
    </div>
  </div>
</div>

<br>
<section>
  <h2 class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top text-white">Notre équipe</h2>
</section>

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-8 mb-0 text-muted">&copy; 2022 Company, Inc</p>




  </footer>
</div>








